.home-container
  .main-content
    .calendar-section
      = render "calendar", 
        date: @date, 
        end_date: @end_date, 
        start_wday: @start_wday, 
        events_by_date: @events_by_date
    
    .sidebar
      .add-event-section
        %h2 Quick Actions
        = link_to "Add New Event", new_event_path, class: "btn btn-primary"
      
      .event-details-section
        = turbo_frame_tag "event_details", data: { controller: "event-details" } do
          .event-details-panel.hidden{ data: { event_details_target: "panel" } }
            %h2 Event Details
            .event-info
              %div.event-title{ data: { event_details_target: "title" } }
              %div.event-description{ data: { event_details_target: "description" } }
              %div.event-date{ data: { event_details_target: "date" } }
              %div.event-start-time{ data: { event_details_target: "startTime" } }
              %div.event-end-time{ data: { event_details_target: "endTime" } }
            .event-actions
              %button.btn.close-btn{ type: "button", data: { action: "click->event-details#close" } } Close
